<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>Dataset Name</th>
					<th>Signature Category</th>
					<th>Number of signatures</th>
					<th>annotations.csv</th>
					<th>json</th>
					<th>gmt</th>
				</tr>
			</thead>
		</table>

	</div>
</div>
<script type="text/template" id="fileTemplate">
<td><%= name %></td>
<td><%= category.split('_').join(' ') %></td>
<td><%= num_sigs %></td>
<td><a href="<%= 'download/'+ filenames.csv %>"><span class="glyphicon glyphicon-download"></span></a></td>
<td><a href="<%= 'download/'+ filenames.json %>"><span class="glyphicon glyphicon-download"></span></a></td>
<td><a href="<%= 'download/'+ filenames.gmt %>"><span class="glyphicon glyphicon-download"></span></a></td>
</script>
<script src="js/download.js"></script>
