.parameters {
	font-size: 14px;
}

.parameters > tbody > tr > td {
	border-top: 0;
	padding: 2px;
}

.parameters > tbody > tr > td:nth-child(1) {
	font-weight: bold;
}

.json {
	height: 250px;
	overflow-y: scroll;
}
